In [296]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [297]:
train = pd.read_csv('/Users/user/Deep_learning/train.csv (3)/train.csv', parse_dates = ['Dates'])
test = pd.read_csv('/Users/user/Deep_learning/train.csv (3)/test.csv (2)/test.csv', parse_dates = ['Dates'])

# train을 년,월,일 컬럼 추가해서 train_x,train_y 만들기

In [298]:
train['month'] = train['Dates'].dt.month
train['day'] = train['Dates'].dt.day
train['hour'] = train['Dates'].dt.hour
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,month,day,hour
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,5,13,23
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,5,13,23
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,5,13,23
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,5,13,23
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,5,13,23

In [299]:
x_train = train[['DayOfWeek', 'PdDistrict','X','Y', 'month','day','hour']]
x_train.head()

   DayOfWeek PdDistrict           X          Y  month  day  hour
0  Wednesday   NORTHERN -122.425892  37.774599      5   13    23
1  Wednesday   NORTHERN -122.425892  37.774599      5   13    23
2  Wednesday   NORTHERN -122.424363  37.800414      5   13    23
3  Wednesday   NORTHERN -122.426995  37.800873      5   13    23
4  Wednesday       PARK -122.438738  37.771541      5   13    23

In [300]:
y_train = train[['Category']]
y_train.head()

         Category
0        WARRANTS
1  OTHER OFFENSES
2  OTHER OFFENSES
3   LARCENY/THEFT
4   LARCENY/THEFT

In [301]:
test.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [302]:
test['month'] = test['Dates'].dt.month
test['day'] = test['Dates'].dt.day
test['hour'] = test['Dates'].dt.hour
test.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y,month,day,hour
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051,5,10,23
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432,5,10,23
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212,5,10,23
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412,5,10,23
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412,5,10,23

In [303]:
x_test = test[['DayOfWeek', 'PdDistrict','X','Y', 'month','day','hour']]
x_test.head()

  DayOfWeek PdDistrict           X          Y  month  day  hour
0    Sunday    BAYVIEW -122.399588  37.735051      5   10    23
1    Sunday    BAYVIEW -122.391523  37.732432      5   10    23
2    Sunday   NORTHERN -122.426002  37.792212      5   10    23
3    Sunday  INGLESIDE -122.437394  37.721412      5   10    23
4    Sunday  INGLESIDE -122.437394  37.721412      5   10    23

In [304]:
x_test["DayOfWeek"] = x_test["DayOfWeek"].replace(['Monday', 'Tuesday', 'Wednesday' ,'Thursday', 'Friday', 'Saturday','Sunday'],[0,1,2,3,4,5,6])
x_test['PdDistrict'] = x_test['PdDistrict'].replace(['NORTHERN', 'PARK', 'INGLESIDE', 'BAYVIEW', 'RICHMOND', 'CENTRAL', 'TARAVAL',
 'TENDERLOIN' ,'MISSION', 'SOUTHERN'],[0,1,2,3,4,5,6,7,8,9])

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [305]:
x_test

        DayOfWeek  PdDistrict           X          Y  month  day  hour
0               6           3 -122.399588  37.735051      5   10    23
1               6           3 -122.391523  37.732432      5   10    23
2               6           0 -122.426002  37.792212      5   10    23
3               6           2 -122.437394  37.721412      5   10    23
4               6           2 -122.437394  37.721412      5   10    23
...           ...         ...         ...        ...    ...  ...   ...
884257          2           8 -122.408983  37.751987      1    1     0
884258          2           0 -122.425342  37.792681      1    1     0
884259          2           2 -122.445418  37.712075      1    1     0
884260          2           3 -122.387394  37.739479      1    1     0
884261          2           6 -122.489714  37.733950      1    1     0

[884262 rows x 7 columns]

# 결측치 확인

In [306]:
x_train.isnull().sum()

DayOfWeek     0
PdDistrict    0
X             0
Y             0
month         0
day           0
hour          0
dtype: int64

# 데이터 프레임 정보 보기

In [307]:
print(x_train.corr())
print(x_train.info())

              X         Y     month       day      hour
X      1.000000  0.559338  0.001548  0.002558  0.001057
Y      0.559338  1.000000  0.003307  0.001802 -0.002018
month  0.001548  0.003307  1.000000  0.016947 -0.001896
day    0.002558  0.001802  0.016947  1.000000  0.015680
hour   0.001057 -0.002018 -0.001896  0.015680  1.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   DayOfWeek   878049 non-null  object
 1   PdDistrict  878049 non-null  object
 2   X           878049 non-null  float64
 3   Y           878049 non-null  float64
 4   month       878049 non-null  int64
 5   day         878049 non-null  int64
 6   hour        878049 non-null  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 46.9+ MB
None

In [308]:
print(x_train['DayOfWeek'].unique())
print(x_train['PdDistrict'].unique())
print(y_train['Category'].unique())
y_train
print(len(y_train['Category'].unique()))

['Wednesday' 'Tuesday' 'Monday' 'Sunday' 'Saturday' 'Friday' 'Thursday']
['NORTHERN' 'PARK' 'INGLESIDE' 'BAYVIEW' 'RICHMOND' 'CENTRAL' 'TARAVAL'
 'TENDERLOIN' 'MISSION' 'SOUTHERN']
['WARRANTS' 'OTHER OFFENSES' 'LARCENY/THEFT' 'VEHICLE THEFT' 'VANDALISM'
 'NON-CRIMINAL' 'ROBBERY' 'ASSAULT' 'WEAPON LAWS' 'BURGLARY'
 'SUSPICIOUS OCC' 'DRUNKENNESS' 'FORGERY/COUNTERFEITING' 'DRUG/NARCOTIC'
 'STOLEN PROPERTY' 'SECONDARY CODES' 'TRESPASS' 'MISSING PERSON' 'FRAUD'
 'KIDNAPPING' 'RUNAWAY' 'DRIVING UNDER THE INFLUENCE'
 'SEX OFFENSES FORCIBLE' 'PROSTITUTION' 'DISORDERLY CONDUCT' 'ARSON'
 'FAMILY OFFENSES' 'LIQUOR LAWS' 'BRIBERY' 'EMBEZZLEMENT' 'SUICIDE'
 'LOITERING' 'SEX OFFENSES NON FORCIBLE' 'EXTORTION' 'GAMBLING'
 'BAD CHECKS' 'TREA' 'RECOVERED VEHICLE' 'PORNOGRAPHY/OBSCENE MAT']
39

# 속성값 문자열을 숫자로 치환

In [309]:
x_train["DayOfWeek"] = x_train["DayOfWeek"].replace(['Monday', 'Tuesday', 'Wednesday' ,'Thursday', 'Friday', 'Saturday','Sunday'],[0,1,2,3,4,5,6])
x_train['PdDistrict'] = x_train['PdDistrict'].replace(['NORTHERN', 'PARK', 'INGLESIDE', 'BAYVIEW', 'RICHMOND', 'CENTRAL', 'TARAVAL',
 'TENDERLOIN' ,'MISSION', 'SOUTHERN'],[0,1,2,3,4,5,6,7,8,9])
y_list = y_train['Category'].unique()

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [310]:
y_list

array(['WARRANTS', 'OTHER OFFENSES', 'LARCENY/THEFT', 'VEHICLE THEFT',
       'VANDALISM', 'NON-CRIMINAL', 'ROBBERY', 'ASSAULT', 'WEAPON LAWS',
       'BURGLARY', 'SUSPICIOUS OCC', 'DRUNKENNESS',
       'FORGERY/COUNTERFEITING', 'DRUG/NARCOTIC', 'STOLEN PROPERTY',
       'SECONDARY CODES', 'TRESPASS', 'MISSING PERSON', 'FRAUD',
       'KIDNAPPING', 'RUNAWAY', 'DRIVING UNDER THE INFLUENCE',
       'SEX OFFENSES FORCIBLE', 'PROSTITUTION', 'DISORDERLY CONDUCT',
       'ARSON', 'FAMILY OFFENSES', 'LIQUOR LAWS', 'BRIBERY',
       'EMBEZZLEMENT', 'SUICIDE', 'LOITERING',
       'SEX OFFENSES NON FORCIBLE', 'EXTORTION', 'GAMBLING', 'BAD CHECKS',
       'TREA', 'RECOVERED VEHICLE', 'PORNOGRAPHY/OBSCENE MAT'],
      dtype=object)

In [311]:
len(y_list)

39

In [312]:
Y_list = list(range(39))
Y_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38]

In [313]:
y_train['Category'] = y_train['Category'].replace(y_list,Y_list)

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [314]:
y_train

        Category
0              0
1              1
2              1
3              2
4              2
...          ...
878044         6
878045         2
878046         2
878047         4
878048        12

[878049 rows x 1 columns]

In [315]:
import tensorflow as tf
seed = 0
np.random.seed(seed)
tf.random.set_seed(3)

In [316]:
from sklearn.model_selection import train_test_split
x_train.head()
X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_train, test_size=0.3, random_state=seed)

In [337]:
X_train = np.array(X_train)
Y_train = np.array(Y_train)
X_test = np.array(X_test)
Y_test = np.array(Y_test)

In [338]:
print(type(X_train))
print(type(Y_train))
print(type(X_test))
print(type(Y_test))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [339]:
print(X_train)
print(Y_train)

[[   4.            1.         -122.45070992 ...    2.
     9.           21.        ]
 [   6.            9.         -122.40652099 ...    8.
    15.           17.        ]
 [   0.            3.         -122.3923934  ...   10.
    13.           16.        ]
 ...
 [   1.            7.         -122.4115931  ...   10.
    15.           21.        ]
 [   6.            7.         -122.40724409 ...    3.
    22.           11.        ]
 [   5.            3.         -122.38643767 ...    2.
    26.           13.        ]]
[[ 1]
 [ 7]
 [ 0]
 ...
 [ 2]
 [13]
 [ 7]]

In [340]:
print(X_train.shape)
print(Y_train.shape)

(614634, 7)
(614634, 1)

#  다중회귀 모델링

In [341]:
log_reg.fit(X_train,Y_train)

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [347]:
print(log_reg.predict(X_test))
print(np.mean(log_reg.predict(X_test) == Y_test))

[2 2 2 ... 2 2 2]
0.0

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

In [349]:
print((log_reg.predict(X_test) - Y_test))

MemoryError: Unable to allocate 517. GiB for an array with shape (263415, 263415) and data type int64

In [ ]:
import matplotlib.pyplot as plt
import os